
* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    max-width: 100%
}

header {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: Volkhov, sans-serif;
    font-weight: 700;
    font-size: calc(84rem/16);
    line-height: calc(89rem/16);
    letter-spacing: -0.25rem;
}

.menu-nav ul {
    font-family: Arial, serif;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: calc(10rem/16);
}

.menu-nav a {
    color: black;
    text-decoration: none;
}

.menu-nav a:hover {
    text-decoration: underline;
}

.accroche {
    font-weight: 700;
    font-size: calc(20rem/16);
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #DF6951;
}

.main {
    background: url("../images/resto.png") fixed center;
    background-size: cover;
    padding: 5rem;
    color: #fafafa;
}

.welcome {
    width: calc(520rem/16);
    z-index: 10;
}

.description {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #BFC0CD;
    width: 477px;
    padding-block: 2rem
}

.discover {
    background-color: #f1a501;
    border: none;
    width: 204px;
    height: 60px;
    border-radius: 10px;
    font-family: Arial, serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0 20px 35px #F1A50126;
    cursor: pointer;
    transition: 0.3s;
}

.discover:active {
    transform: scale(0.95, 0.95);
}

#nouveautes {
    padding: 5rem;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
}

#nouveautes p {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
}

#nouveautes h1 {
    font-size: 50px;
    text-align: center;
}


.liste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    justify-content: center;
    list-style-type: none;
    margin: 15px 200px;
    padding: 0;
    gap: 80px;
}

.liste li {
    -webkit-box-shadow: 0 10px 13px -7px #000000, 8px 8px 36px 0 rgba(0,0,0,0);
    box-shadow: 0 10px 13px -7px #000000, 8px 8px 36px 0 rgba(0,0,0,0);
    border-radius: 24px;
    height: 457px;
    transition-duration: 300ms;
    cursor: pointer;
    background-color: #fff;
    justify-content: center;
}

.liste li:hover {
    transform: scale(1.05);
}

.liste li img {
    width: 100%;
    height: 327px;
    border-radius: 24px 24px 0 0;
    object-fit: cover;
}

.liste li figcaption {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #5E6282;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo:hover img {
    opacity: 0.7;
}

.maki {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-block: 80px;

}

.maki li {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 300ms;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.maki img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#nouveautes .maki-name {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 100%;
    color: #1E1D4C;
}

.maki li:hover {
    transform: scale(1.1);
    -webkit-box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 0 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    background-color: #fff;
}

.maki li:active {
    transform: scale(0.95);
}

.discover:hover {
    background: orangered;
}

#decouvrir {
    position: relative;
    min-height: 1300px;
    background: url("../images/chef.png") fixed center;
    background-size: cover;
    padding: 159px;
}

.video {
    position: relative;
    width: 305px;
    height: 164px;
}

.video > img {
    border-radius: 10px;
}

img[alt="Ellipse"], .video svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    background: #fafafa;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 5px 2px;
    transition-duration: 300ms;
}

.top:hover {
    background: lightgray;
}

.top:active {
    box-shadow: inset 0 5px 2px;
}

#decouvrir h1 {
    color: #fafafa;
    padding-block: 20px;
    width: 612px;
}

.galerie {
    position: absolute;
    top: 100%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: translateY(-90%);
}

.galerie img {
    width: 100%;
    height: 653px;
    object-fit: cover;
}

#commandez {
    min-height: 550px;
    background: url("../images/blanc.jpg") fixed center;
    background-size: cover;
    padding: 10%;
}

#commandez .commandez-main {
    width: 395px;
    min-height: 434px;
}

.rapide {
    font-weight: 600;
    font-size: 18px;
    horiz-align: center;
    text-transform: uppercase;
    color: #5E6282;
    line-height: 100%;
    letter-spacing: 0;
}

#commandez h1 {
    font-size: 50px;
    letter-spacing: 0;
    line-height: 100%;
    color: #DF6951
}

#contact h1 {
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0;
    padding-block: 2rem;
}

#commandez h1 span {
    font-family: "Volkhov", serif;
    color: #14183E
}

.infos {
    margin-block: 80px;
    display: grid;
    grid-template-columns: 122px 1fr;
    row-gap: 30px;
    align-items: center;
}

.infos img {
    display: block;
    margin: auto;
}

.name {
    font-weight: bold;
}

#contact {
    text-align: center;
    padding: 5%;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-shadow: 0 0 15px 1px #575757;
    box-shadow: 0 4px 61px 0 #0000001A;
    border-radius: 20px;
    text-align: left;
    width: 75%;
    margin: 4rem auto auto;
}

.form > div {
    padding: 3rem;
}

.form img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

input {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 3rem;
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    border: 1px solid lightgray;
}

textarea {
    margin: auto;
}
input:focus {
    border-bottom: 1px solid lightblue;
}

textarea:focus {
    border: 1px solid lightblue;
}

input:focus-visible , textarea:focus-visible {
    outline: none;
}

[method="POST"] div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

form button {
    position: relative;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 9.5rem;
    height: calc(48rem/16);
    border-radius: 0.25rem;
    padding: 0 32px 0 24px;
    background: #007AFF;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

form button:hover {
    background: blue;
}

#validate {
    width: 18px;
    height: 14px;
}

form button span {
    font-weight: 500;
    font-size: 1rem;
    line-height: calc(24rem/16);
    letter-spacing: 0;
    horiz-align: center;
    vertical-align: middle;
}

.info-form {
    padding-block: calc(20rem/16);
    width: calc(256rem/16);
    height: calc(39rem/16);
    font-weight: 400;
    font-size: calc(14rem/16);
    line-height: calc(19.5rem/16);
    letter-spacing: 0;
    color: #8D8D8D;
}

#contact > h1 {
    color: #14183E;
}

footer {
    min-height: calc(386.7890625rem/16);
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.main-footer {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    color: #5E6282;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-footer figcaption {
    width: 297px;
}

.mentions-legales {
    height: calc(17rem/16);
    font-weight: 500;
    font-size: calc(14rem/16);
    line-height: 125%;
    letter-spacing: 0;
    color: #5E6282;
    padding-block: calc(20rem/16);
}

.footer-infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.footer-infos ul {
    list-style: none;
}

.footer-infos a {
    text-decoration: none;
    color: #5E6282;
}

.footer-infos a:hover {
    text-decoration: underline;
}

.footer-infos h4 {
    color: #080809
}

.uber-eats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.uber-eats img {
    width: 200px;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.uber-eats p {
    grid-column-end: span 2;
}

.welcome-div {
    position: relative;
}

.welcome-div img {
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.welcome-div h1 {
    position: relative;
    z-index: 1;
}

.discover-main {
    position: relative;
}

.discover-main img {
    position: absolute;
    top: 23%;
    z-index: 0;
}

.discover-main h1 {
    position: relative;
    z-index: 1;
}

.apps {
    display: flex;
    background: #000;
    border-radius: 9999px;
    text-transform: uppercase;
    width: 107px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 5px;
    transition-duration: 0.3s;
}

#play-logo {
    width: 17px;
}

#apple {
    width: 16px;
}

.apps:hover {
    background: gray;
}

.apps:active {
    transition-duration: 0s;
    transform: scale(80%);
}

.menu-btn {
    display: none;
    background: none;
    border: none;
}

.menu-btn svg {
    height: 32px;
    width: 32px;
    font-weight: bold;
}

.mobile-hide {
    font-family: "Volkhov", serif;
}

.figure-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media(width < 40rem) {
    .main {
        padding:20px;
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .menu-btn {
        display: inline;
    }
    .menu-nav {
        display: none;
    }
    .accroche {
        width: 100%;
        font-size: 12px;
        text-align: center;
    }
    .welcome {
        font-size: 51px;
        line-height: 53px;
        text-align: center;
        letter-spacing: -4px;
    }
    .welcome-div img {
        width: 232px;
        height: 7px;
        left: 50%;
        bottom: 7px;
        transform: translateX(-50%);
    }
    .description {
        width: 287px;
        height: 83px;
        text-align: center;
        margin: auto;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #E6E8F3;
        padding-block: 0;
    }
    .discover {
        width: 204px;
        height: 60px;
        border-radius: 10px;
        margin: auto;
    }
    #nouveautes {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #nouveautes p:not(figcaption p) {
        width: 76px;
        height: 23px;
        margin: auto;
        font-size: 14px;
        line-height: 100%;
    }

    #nouveautes h1 {
        width: 257px;
        height: 31px;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
        margin: auto;
    }

    .liste {
        margin: 20px;
    }

    .maki {
        display: block;
    }

    .maki li{
        display: block;
    }

    .maki figure {
        display: grid;
        grid-template-columns: 71px 1fr;
        gap: 1rem;
    }

    .maki figure img {
        width: 71px;
        height: 71px;
    }

    .maki figcaption {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #nouveautes .maki-name {
        font-family: Open Sans, sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0;
    }

    #nouveautes p {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0;
    }

    #decouvrir {
        padding: 0;
        min-height: 1000px;
    }

    .video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
        border-radius: 0 0 0 0;
    }

    .video > img {
        border-radius: 0 0 0 0;
        width: auto;
        height: auto;
    }

    .discover-main {
        display: none;
    }


    [alt="Ellipse"] {
        display: none;
    }


    .video svg path {
        fill: #FFFFFF;
    }

    .galerie {
        display: none;
    }

    #commandez {
        background: none;
    }

    #commandez .commandez-main {
        display: flex;
        flex-direction: column;
    }

    .rapide {
        font-size: 14px;
        text-align: center;
    }

    #commandez h1 {
        width: 229px;
        min-height: 81px;
        text-align: center;
        margin: auto;
        font-weight: 700;
        font-size: 36px;
        line-height: 142%;
        letter-spacing: 0;
    }

    #commandez h1 span {
        font-size: 24px;
        line-height: 142%;
        letter-spacing: 0;
    }

    .infos {
        margin-block: 60px;
    }

    #contact h1 {
        padding: 0;
        font-size: 36px;
        line-height: 142%;
        letter-spacing: 0;
        height: 51px;
    }

    .mobile-hide {
        display: none;
    }

    .form {
        margin: 0;
        width: 100%;
        box-shadow: none;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .form img {
        display: none;
    }

    .form div {
        display: block;
        width: 100%;
        padding: 0;
    }

    .form h3 {
        display: none;
    }

    .info-form {
        margin: auto;
        padding-top: 0;
        text-align: center;
    }


    .main-footer {
        padding-top: 5rem;
    }

    .main-footer figure {
        align-self: end;
        order: 2;
        background: white;
        width: 100%;
        padding: 20px;
    }

    .uber-eats {
        padding-bottom: 3rem;
    }

    .logo-ue {
        margin: auto;
    }

    .mentions-legales {
        display: none;
    }
}